body{
	background:url(../img/Yearni.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	background-position: center;
 	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	  color: #3E454C;
}

#logo{ 
 color: #3E454C;
display: inline-block;
font: 500 40px/40px 'Open Sans',Arial,Helvetica,sans-serif;
margin: 0 0 14px;
transition: all 0.35s ease 0s;
}

a{color: #036809;}
a:hover{color: #11AA1B;}
.nav_links a{font: 500 16px/16px 'Open Sans',Arial,Helvetica,sans-serif;}
.nav_links{margin-top:20px;}
.nav_links .nav{padding-left: 25%;}
.header{margin-top: 1.5%;}
.searchpage{
	margin-top: 5%;
    padding-top: 20px;
}
 .btn-lg {
    font-weight: bold;
    padding: 10px 60px;
}
.productresults ul li{
	list-style: none;
	padding-bottom:20px;
}
.productresults ul li a{
	font: 300 18px/18px 'Open Sans',Arial,Helvetica,sans-serif;
	margin: 0 0 14px;
	text-decoration: underline;
}
.productresults{padding:20px 20px 20px 20px;background-color: #eee;}
.prdtAttribute{color:#009A57;}
.prdtTtle{
	color: #3E454C;
display: inline-block;
font: 100 25px/25px 'Open Sans',Arial,Helvetica,sans-serif;
margin: 0 0 20px;
transition: all 0.35s ease 0s;
text-align: left;
}
.table-responsive table{border: none;}
.table-responsive {border: none;}

.jumbotron{background:rgba(160, 159, 159, 0.58);}

.topMenu{text-align: center;}
.searchPage{margin: 0 0 0px;}
.nav-links{padding-bottom: 5%;}
.btn-sm {padding: 10px 50px;font-size: 14px;}
.btn-primary{  background-color: #3E454C; border-color: #3E454C; }
.btn-sm:hover, .btn-primary:hover,  .btn-primary:active{background-color: #11AA1B; border-color: #11AA1B;}
.vwAllprdts{padding-left: 5%;}
.nav>li>a:focus,.nav>li>a:hover,.nav>li>a:active{background-color: #11AA1B;}

@media (max-width: 460px) { 
	.nav>li>a {padding: 2px 2px; }
	.nav_links .nav {padding-bottom: 20px;}
	.btn-sm {padding: 0px 0px;}
}
noscript{color:red;text-align: center;font-size: 17px;}

.searchResultsTbl { margin-bottom: 0px; }
.searchResultsTbl>thead>tr>th, .searchResultsTbl>tbody>tr>th, .searchResultsTbl>tfoot>tr>th, .searchResultsTbl>thead>tr>td, .searchResultsTbl>tbody>tr>td, .searchResultsTbl>tfoot>tr>td{
	 border-top: none;
	 padding: 1px;
}
.tbllbl{width:90px;}
.prdt_lbl{width:120px;}
.productAttributes{background-color: #eee;}
.productAttributes>.table-responsive{padding:10px 0px 0px 10px;}
.prdtAttributes>thead>tr>th, .prdtAttributes>tbody>tr>th, .prdtAttributes>tfoot>tr>th, .prdtAttributes>thead>tr>td, .prdtAttributes>tbody>tr>td, .prdtAttributes>tfoot>tr>td {
	border-top: none;
}