<!DOCTYPE html>
<html>
<head>
  <title>AgroFarm</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/style.css" rel="stylesheet">

    <script src="lib/jquery-1.8.2.min.js"></script>
    <script data-main="js/load" src="js/vendor/require.js"></script>
</head>
<body>
<noscript>Please enable javascript on your browser!</noscript>

<div id="pageArea"> <!-- body below is to prevent empty content display due to js failure-->
      <div class="container">
      <div class="jumbotron searchpage">
           <div class="topMenu">
             <div id="logo" class="text-muted">AgroFarm</div>
           </div>
           <div class="row nav-links">
              <div class="col-xs-4  vwAllprdts"><a class="btn btn-primary btn-sm " href="#allproducts">View all Products</a></div>
              <div class="col-xs-5 col-xs-offset-3  left"><a class="btn btn-primary btn-sm "  href="#addproduct">Add Product</a></div>
          </div>
            <div class="row">
              <div class="col-xs-12 prdtTtle searchPage">Search for a Product</div>
            </div>
            <div class="input-group">
                <input id="search_input" type="text" class="form-control">
                <span class="input-group-btn">
                     <button  id="search_button" class="btn btn-default" type="button">Search!</button>
                </span>
          </div>
        </div>
    </div>
</div>


<script type="text/template" id="search_template">
  <div class="container">
      <div class="jumbotron searchpage">
           <div class="topMenu">
             <div id="logo" class="text-muted">AgroFarm</div>
           </div>
           <div class="row nav-links">
              <div class="col-xs-4  vwAllprdts"><a class="btn btn-primary btn-sm " href="#allproducts">View all Products</a></div>
              <div class="col-xs-5 col-xs-offset-3  left"><a class="btn btn-primary btn-sm "  href="#addproduct">Add Product</a></div>
          </div>
            <div class="row">
              <div class="col-xs-12 prdtTtle searchPage">Search for a Product</div>
            </div>
            <div class="input-group">
                <input id="search_input" type="text" class="form-control">
                <span class="input-group-btn">
                     <button  id="search_button" class="btn btn-default" type="button">Search!</button>
                </span>
          </div>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</script>

<script type="text/template" id="addproduct_template">
  <div class="container">
    <div class="header nav_links">
      <ul class="nav nav-pills pull-right">
        <li><a class="btn btn-primary btn-sm " href="#search">Search to buy</a></li>
        <li><a class="btn btn-primary btn-sm " href="#addproduct">Add product</a></li>
      </ul>
     <div id="logo" class="text-muted">AgroFarm</div>
    </div>
      <div class="jumbotron">
       <span class="prdtTtle">Add new product</span>
        <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="prdt_name" class="col-sm-2 control-label">Product Name *</label>
                <div class="col-sm-5">
                  <input class="form-control"  type="text" id="prdt_name">
              </div>
            </div>
        <div class="form-group">
          <label for="prdt_description" class="col-sm-2 control-label">Description </label>
                <div class="col-sm-5">
                  <textarea class="form-control" rows="3" id="prdt_description"></textarea>
                </div>
        </div>
        <div class="form-group">
          <label for="prdt_price" class="col-sm-2 control-label">Price/Tonne (UGX) *</label>
                <div class="col-sm-5">
                  <input class="form-control" type="number" id="prdt_price">
                </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Available Quantity *</label>
                <div class="col-sm-5">
                  <input class="form-control" type="text" id="prdt_qty">
                </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Phone-Contact *</label>
                <div class="col-sm-5">
                  <input class="form-control" type="number" id="prdt_contact">
              </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label">Contact Name</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" id="prdt_contactName">
                  </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location *</label>
                  <div class="col-sm-5">
                    <input class="form-control" type="text" id="prdt_location">
                  </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn-lg btn btn-primary" id="addPdtBtn">Add</button>
            </div>
        </div>
          </form>
    </div>

  </div>
</script>

<script type="text/template" id="addproduct_templateResponse">
  <div class="container">
    <div class="header nav_links">
      <ul class="nav nav-pills pull-right">
        <li><a class="btn btn-primary btn-sm " href="#search">Search to buy</a></li>
        <li><a class="btn btn-primary btn-sm " href="#allproducts">View all Products</a></li>
      </ul>
     <div id="logo" class="text-muted">AgroFarm</div>
    </div>
      <div class="jumbotron">
         <div class="prdtTtle">Add new product</div>
         <div> <%= prdtaddResponse %> </div>
      </div>
  </div>
</script>

<script type="text/template" class="search_reslt_product">
  <li class="product">
      <div class="prdtName"><a href="#/product/<%= id %>"><%= name %></a></div>
      <div class="table-responsive_">
        <table class="table searchResultsTbl">
          <tbody>
            <tr>
            <td class="tbllbl"> Description</td>
            <td class="tblcont"><%= description %> </td>
            </tr>
            <tr>
              <td class="tbllbl"> Price/Tonne</td>
              <td class="tblcont"><%= price %>/- </td>
            </tr>
            <tr>
              <td class="tbllbl"> Location</td>
              <td class="tblcont"><%= location %> </td>
            </tr>
          </tbody>
          </table>
      </div>
  </li>
</script>

<script type="text/template" class="search_reslt_products">
<div class="container">
    <div class="header nav_links">
      <ul class="nav nav-pills pull-right">
        <li><a class="btn btn-primary btn-sm " href="#allproducts">View all Products</a></li>
        <li><a class="btn btn-primary btn-sm " href="#addproduct">Add product</a></li>
      </ul>
      <div id="logo" class="text-muted">AgroFarm</div>
    </div>
     <div class="jumbotron">
          <div class="row">
              <div class="col-xs-12 prdtTtle searchPage">Search results</div>
          </div>
          <div class="input-group">
                <input value="<%= search_item %>" id="search_input"  type="text" class="form-control">
                <span class="input-group-btn">
                     <button  id="search_button" class="btn btn-default" type="button">Search!</button>
                </span>
          </div>
          <div class="productresults">
            <ul>
              <%= productresults %> 
            </ul>
          </div>
     </div>
</div>
</script>

<script type="text/template" class="all_products">
<div class="container">
    <div class="header nav_links">
      <ul class="nav nav-pills pull-right">
        <li><a class="btn btn-primary btn-sm" href="#search">Search to buy</a></li>
        <li><a class="btn btn-primary btn-sm " href="#addproduct">Add product</a></li>
      </ul>
      <div id="logo" class="text-muted">AgroFarm</div>
    </div>
     <div class="jumbotron">
          <div class="row">
              <div class="col-xs-12 prdtTtle searchPage">All Products</div>
          </div>
          <div class="productresults">
            <ul>
              <%= productresults %> 
            </ul>
          </div>
     </div>
</div>
</script>


<script type="text/template" id="product_template">
  <div class="container">
    <div class="header nav_links">
      <ul class="nav nav-pills pull-right">
        <li><a class="btn btn-primary btn-sm" href="#search">Search to buy</a></li>
        <li><a class="btn btn-primary btn-sm " href="#allproducts">View all Products</a></li>
        <li><a class="btn btn-primary btn-sm " href="#addproduct">Add product</a></li>
      </ul>
      </ul>
       <div id="logo" class="text-muted">AgroFarm</div>
    </div>
      <div class="jumbotron">
            <div class="productAttributes">
              <div class="table-responsive">
              <span class="prdtTtle"><%=name %></span>
                <table class="table prdtAttributes">
                  <tbody>
                      <tr>
                        <td class="prdt_lbl"> Description</td>
                        <td><%= description %> </td>
                      </tr>
                      <tr>
                        <td class="prdt_lbl"> Price/Tonne</td>
                        <td><%= price %>/- </td>
                      </tr>
                      <tr>
                        <td class="prdt_lbl"> Quantity</td>
                        <td>UGX:<%= qty %> </td>
                      </tr>
                      <tr>
                        <td class="prdt_lbl"> Contact-Phone</td>
                        <td><%= contact %> </td>
                      </tr>
                      <tr>
                        <td class="prdt_lbl"> Contact-Name</td>
                        <td><%= contactName %> </td>
                      </tr>
                      <tr>
                        <td class="prdt_lbl"> Location</td>
                        <td><%= location %> </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

</script>

     <script type="text/javascript">
      require(["views/searchResults","views/productview","views/productAddView"],function(){});
     </script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
</body>
</html>

